<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p> Contact Ruby on Rails tutoriaal about the sample app at  <a href="http:// railstutorial.org/contact" > contact page </a> sample application. </p>